* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

:root {
	--background-color: rgb(242, 242, 242);
	--text-color: rgb(26, 26, 26);
	transition: all 0.2s ease-in-out;
}

:root.dark {
	--background-color: rgb(26, 26, 26);
	--text-color: rgb(226, 226, 226);
}

body {
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	padding: 10px;
	height: 100vh;
	width: 100vw;
}

.navbar {
	display: flex;
	color: var(--text-color);
	justify-content: space-around;
	align-items: center;
	gap: 10px;
}

.navbar-elements {
	box-shadow: 0 0 1px var(--text-color);
	border-radius: 10px;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.navbar-elements:hover {
	box-shadow: 0 0 3px var(--text-color);
}

.navbar-elements:nth-child(2) {
	flex: 0.4;
	cursor: text;
}
.navbar-elements:last-child {
	flex: 0.1;
	height: 40px;
}

.iconimg {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.filter {
	filter: invert(1);
}

.container {
	border-radius: 10px;
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	max-width: calc(100vw - 20px);
	overflow-x: hidden;
	padding: 3px;
	color: var(--text-color);
}

.box {
	box-shadow: 0 0 1px var(--text-color);
	border-radius: 10px;
	height: 300px;
	width: 450px;
	display: flex;
	padding: 10px;
	gap: 20px;
	flex: auto;
	transition: all 0.2s ease-in-out;
}

.box:hover {
	cursor: pointer;
	box-shadow: 0 0 3px var(--text-color);
}

.image-container {
	min-width: 200px;
	max-width: 200px;
	min-height: 277px;
	max-height: 277px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 10px;
}

.image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.details {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 18px;
}

.watchlist {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 5px;
	box-shadow: 0 0 1px var(--text-color);
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
}

.watchlist:hover {
	cursor: pointer;
	box-shadow: 0 0 3px var(--text-color);
}

.title {
	font-size: 25px;
}